body{
    background-color: #face95;
    width: 100%;
    height: 100%;
}
/*------------------------------------------*/
/* LoadMore */
.button-Load{
    position: relative;
    width: 400px;
    height: 52px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 425px;
    background: #509E2F;
    border-radius: 10px;
}

.button-Load:hover{
    background: #47995a;
}

.button-Load-text{
    position: absolute;
    width: 94px;
    height: 27px;
    left: 153px;
    top: 13px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

/*------------------------------------------*/

/*Banner*/
.banner{
    display: flex;
    position: relative;
    width: 1264px;
    height: 355px;
    margin-left: 308px;
    top: 100px;
}

.banner-slider{
    display: flex;
}

.banner-next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 95%;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    color: white;
}

.banner-prev-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    color: white;
}


.banner-img{
    width: 1264px;
    height: 355px;
    border-radius: 30px;
    filter: brightness(60%);
}


.banner-textblock{
    position: absolute;
    width: 446px;
    height: 167px;
    left: 80px;
    top: 82px;
}


.banner-foodname{
    position: absolute;
    width: 446px;
    height: 102px;
    left: 80px;
    top: 112px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 127%;
    /* or 51px */

    color: #FFFFFF;

}

.banner-uptext{
    /* Trending now */
    position: absolute;
    width: 140px;
    height: 30px;
    left: 80px;
    top: 82px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 127%;
    /* or 30px */
    
    color: #DC582A;
}

.banner-uptext:hover{
    border-bottom: solid 1px #DC582A;
}

.banner-recuser{
    /* By John Mike */

    position: absolute;
    width: 131px;
    height: 25px;
    left: 80px;
    top: 224px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 127%;
    /* or 25px */

    color: #FFFFFF;
}



.banner-pointslist{
        /* PointsList */
    display: flex;
    position: absolute;
    width: 49px;
    height: 7px;
    left: 608px;
    top: 338px;
}


.banner-point{
    flex:auto;
    background-color: #D5D5D5;
}



/*------------------------------------------*/

.contentline{
    /* ContentLine */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    gap: 11px;

    position: absolute;
    width: 1253px;
    height: 315px;
    margin-left: 313.5px;
    top: 600px;
}

.card-product{
    /* card-product */

    width: 305px;
    height: 315px;
    background: #D3FFC8;

    /* Shadow/shadow-sm */
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-product:hover{
    background: #8ada8b;
}

.card-product-content{
    /* Content */
    position: relative;
    width: 289px;
    height: 283px;
    left: 8px;
    top: 8px;
}

.card-product-Rimg{
    /* image/rounded */

    position: absolute;
    height: 200px;
    left: 8px;
    right: 8px;
    top: 8px;

    background: url(./img/img-testfood.png);
    border-radius: 16px;
}


.card-product-Rimg-round{
    /* Rounded Rectangle */
    position: absolute;
    left: 0%;
    right: -15.17%;
    top: 0%;
    bottom: 0%;

    border-radius: 16px;
}


.card-product-block{
    position: absolute;
    width: 265px;
    height: 59px;
    left: 22px;
    top: 232px;
}

.card-product-textblock{
    /* Content text */

    position: absolute;
    width: 261px;
    height: 59px;
    left: -0.16px;
    top: 0px;

}

.card-product-textblock-nameblock{
    display: flex;
    flex-direction: column;
    height: 56px;
    left: 0px;
    top: 0px;
}

.card-product-textblock-nameblock-foodname{
    /* Title -> */
    flex:auto;
    height: 24px;
    /* background-color: #a1ede3; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;

    color: #252525;
}


.card-product-textblock-nameblock-username{
    flex:auto;
    height: 27px;
    /* background-color: #784cca; */
    /* Headings/h3 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 136.52%;
    /* or 27px */
    
    color: #DC582A;
}

/*------------------------------------------*/
.underbannerline{
    position: absolute;
    width: 1300px;
    margin-left: 308px;
    top: 501px;
}

.FFline{
    margin-top: 5px;
    display: flex;
    width: 650px;
    margin-left: 600px;
    gap: 30px;
}

.FFline-But{
    width: 200px;
    background: #5FA746;
    border-radius: 10px;
}
.FFline-But-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.FFline-But:hover{
    background: #47995a;
}

/*------------------------------------------*/

.Navpannel{
    /* Nav */
    position: fixed;
        max-width: 1300px;
    width: 80%;
    height: 80px;
    margin-left: 290px;
    top: 0px;

    z-index: 2;
}

.Navpannel-block{
    position: fixed;
    max-width: 1300px;
    width: 80%;
    height: 80px;
    top: 0px;
    background: #5FA746;

    z-index: 2;
}


.Navpannel-Proffile{
    /* Profile */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;

    position: absolute;
    width: 42px;
    height: 42px;
    left: 1230px;
    top: 20px;
}

.Navpannel-Proffile-img{
    /* Prof */

    width: 42px;
    height: 42px;

    background: url(./img/img-prof.png), #5FA746;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Navpannel-Mainimg{
    /* Cookpal 1 */

    position: absolute;
    width: 70px;
    height: 69px;
    left: 30px;
    top: 3px;

    background-image: url(./img/img-main1.png);
}

/*------------------------------------------*/

.searchbar{
    /* Searchbar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 497px;
    height: 16px;
    margin-left: 7px;
}


.searchbar-searchblock{
    /* Search */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;

    margin: 0 auto;
    width: 455px;
    height: 16px;

    background: #F3F3F3;
    border-radius: 2px 0px 0px 2px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchbar-searchblock-filerblock{
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1px;

    width: 112px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchbar-searchblock-filerblock-text{
    /* All Categories */

    width: 93px;
    height: 14px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height */

    /* Black */
    color: #253D4E;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}


.searchbar-searchblock-filerblock-listdown{ 
    /* li:chevron-down */

    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.searchbar-searchblock-filerblock-listdown-vector{
    /* Vector (Stroke) */

    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 33.33%;
    bottom: 33.33%;

    /* Black */
    background: #253D4E;
}


.searchbar-searchblock-inputblock{
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 130px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.searchbar-searchblock-inputblock-vector{
    /* Vector 1 */

    width: 0px;
    height: 14px;

    /* Grey */
    border: 1px solid #ADADAD;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchbar-searchB-inputblock-text{
    /* Search for recipes... */

    width: 130px;
    height: 20px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    
    /* Grey */
    color: #ADADAD;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.searchbar-searchB-inputblock-text_input{
    /* Search for recipes... */

    flex:auto;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    
    /* Grey */
    color: #ADADAD;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.searchbar-searchB{
    /* Search-btn */

    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background: #509E2F;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;   
}

.searchbar-searchB:hover{
    background: #47995a;
}

.searchbar-searchB-iconblock{
    
    /* li:search */
    padding: 20px;
    width: 20px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchbar-searchB-iconblock-img{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(./img/img-search.png);
}






