body{
    background-color: #face95;
    width: 100%;
    height: 100%;
}
/* ---------- */
.Navpannel{
    /* Nav */
    position: fixed;
    max-width: 1300px;
    width: 80%;
    height: 80px;
    margin-left: 290px;
    top: 0px;

    z-index: 2;
}

.Navpannel-block{
    position: fixed;
    max-width: 1300px;
    width: 80%;
    height: 80px;
    top: 0px;
    background: #5FA746;

    z-index: 2;
}


.Navpannel-Proffile{
    /* Profile */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;

    position: absolute;
    width: 42px;
    height: 42px;
    left: 1230px;
    top: 20px;
}

.Navpannel-Proffile-img{
    /* Prof */

    width: 42px;
    height: 42px;

    background: url(./img/img-prof.png), #5FA746;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Navpannel-Mainimg{
    /* Cookpal 1 */

    position: absolute;
    width: 70px;
    height: 69px;
    left: 30px;
    top: 3px;

    background-image: url(./img/img-main1.png);
}

/* -------------------- */
.AccBlock{
    /* AccBlock */

    position: absolute;
    margin-left: 300px;
    width: 1261px;
    height: 708px;
    top: 122px;
}
/* -- */
.AccBlock-UserStats{
    /* UserStats */

    position: absolute;
    width: 1261px;
    height: 344px;
    left: 0px;
    top: 0px;
}

.AccBlock-UserStats-ImgBlock{
    /* account_circle */

    box-sizing: border-box;

    position: absolute;
    width: 255px;
    height: 240px;
    left: 0px;
    top: 0px;

    border: 1px solid #000000;
}

.AccBlock-UserStats-ImgBlock-Img{

    /* icon */

    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;

    background: url(./img/img-UP.png)
}

/* --  */

.AccBlock-UserStats-TextBlock{
    /* UserStatsTextBlock */

    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    
    position: absolute;
    width: 554.11px;
    height: 240px;
    left: 277.59px;
    top: 0px;
    
}



.AccBlock-UserStats-TextBlock-Bar{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    width: 554.11px;
    height: 43px;
    
    background: #D3FFC8;
    border: 1px solid #000000;
    
    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;    
}


.AccBlock-UserStats-TextBlock-Bar-LBlock{
    /* UserName */

    width: 193px;
    height: 43px;

    /* M3/label/large */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.AccBlock-UserStats-TextBlock-Bar-RBlock{
    /* UserName */

    width: 325px;
    height: 43px;

    /* M3/label/large */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }



/* -- */


.AccBlock-UserStats-FuncBlock{
    /* UserFucnBlock */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 429.3px;
    height: 344px;
    left: 575px;
    top: 0px;

}


.AccBlock-UserStats-FuncBlock-But{
    width: 350px;
    height: 40px;
    background: #5FA746;
    border-radius: 10px;
}

.AccBlock-UserStats-FuncBlock-But:hover{
    background: #47995a;
}

.AccBlock-UserStats-FuncBlock-But-Text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}
/* -- */

.AccBlock-ListBlock{
    /* ListNameBlock */

    position: absolute;
    width: 676px;
    height: 355px;
    left: 0px;
    top: 270px;
    background: #D3FFC8;
    border: 1px solid #000000;
}

.AccBlock-ListnameBlock{
    /* ListNameBlock */

    position: absolute;
    width: 676px;
    height: 73px;
    border-bottom: 1px solid #000000;
}

.AccBlock-ListnameBlock-Name{
    /* AccListName */

    position: absolute;
    width: 676px;
    height: 73px;
    left: 0px;
    top: 0px;
    /* M3/label/large */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;
}

/* -- */

.AccBlock-AccFavoredList{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 676px;
    height: flex;
    top: 73px; 
}


.AccBlock-AccFavoredList-Item{
    /* List item 1*/

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    width: 676px;
    height: 56px;
    min-height: 56px;
    border-bottom: 1px solid #000000;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

/* ------------------------------------- */
.label-Social{
    width: 50px;
}

.AccBlock-Social{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:auto;
    right: 20px;
    top: 477px;
    gap: 15px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 3px;
    background: #D3FFC8;
    border: 1px solid #000000;
    border-radius: 10px;
}

.AccBlock-Social-TopBlock{
    flex:auto;
    align-self: center;
    background: #5FA746;
    border: 1px solid #000000;
    border-top: none;
}


.AccBlock-Social-MiddleTextBlock{
    flex:auto;
    align-self: center;
    text-align: center;
    font-style: "Open Sans";
    text-decoration-line:underline;
}

.AccBlock-Social-InputBlock{
    display: flex;
}

.AccBlock-Social-But{
    align-self: self-end;
    background: #5FA746;
    border-radius: 10px;
    font-style: "Open Sans";
    font-size: 75%;
}

.AccBlock-Social-But:hover{
    background: #47995a;
}

